<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>location.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A441C9511D3D21AA00DF4D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A441C96A1D3D21AA00DF4D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A441C9751D3D21AA00DF4D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
